# -- 暫存與記錄檔 --
manuscript_paper_copy.txt
character.txt
標點符號.txt
all_manuscript_copy.txt
character_history.txt

# -- 輸出資料夾 --
manuscripts-final/
CP950/
千字文/
長恨歌/
洛神賦/
詩經/
部首、注音、日文/
英文、數字/
標點符號/
姓氏名字號/

# -- 個人項目 --
114598033*

# -- 路徑獨立 --
config.yaml
