1_compare_duplicate.py
origin_manuscript_paper.txt
manuscript_paper.txt
chinese_character.txt
標點符號.txt
all_manuscript_copy.txt
characters_history.txt

*Merge/
*PDF/
*qrcode/
*Table/
manuscripts-final/
CP950/

千字文/
長恨歌/
洛神賦/
詩經/
部首、注音、日文/
英文、數字/
標點符號/
姓氏名字號/

114598033*